<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="jakarta.persistence.jdbc.driver">com.mysql.cj.jdbc.Driver</property>
        <property name="jakarta.persistence.jdbc.url">jdbc:mysql://localhost:3306/rw100_testing_system?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="jakarta.persistence.jdbc.user">root</property>
        <property name="jakarta.persistence.jdbc.password">1234</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.connection.pool_size">10</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.highlight_sql">true</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="com.vti.entity.Department"/>
        <mapping class="com.vti.entity.Position"/>
    </session-factory>
</hibernate-configuration>